md-sidenav-container
  md-sidenav(#sidenav mode="side" opened="true")
    app-sidebar
  div.app-content
    md-toolbar(color="primary")
      button.icon-button(md-icon-button (click)="sidenav.toggle()")
        md-icon menu

      span Dashboard

      span.fill-remaining-space

      md-icon settings

    div(style="text-align:center")
      h2 {{hero.name}} details!
      div
        label id: {{hero.id}}
      div
        label name:
        input([(ngModel)]="hero.name" placeholder="name")
        a.btn-floating.btn-large.waves-effect.waves-light((click)="toggle()")
          i.material-icons add
