div.user-view
  md-list.user-view
    md-list-item
      a(href="#!user")
        md-icon account_circle
    md-list-item
      a(href="#!name")
        span John Doe
    md-list-item
      a(href="#!email")
        span jdandturk@gmail.com
